@model Nop.Web.Models.Topics.TopicModel
<div class="ccvInfo" id="ccvInfo" style="background: none; display: block;
        position: static; padding: 20px 20px;">
    <span class="sizeChartButton">@Model.Title</span>
    <div class="detail clearfix">
        @Html.Raw(Model.Body)
       @* <p>
            <span class="close">@T("Common.Close")</span></p>*@
    </div>
</div>
