<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" requireReinstallation="true" />
  <package id="Autofac.Mvc3" version="2.5.2.830" requireReinstallation="true" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="FluentValidation" version="5.0.0.1" targetFramework="net40" />
  <package id="FluentValidation.MVC3" version="5.0.0.3" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" requireReinstallation="true" />
  <package id="recaptcha" version="1.0.5.0" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" />
  <package id="TelerikMvcExtensions" version="2011.3.1115" requireReinstallation="true" />
  <package id="WebActivator" version="1.5" requireReinstallation="true" />
</packages>