<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hata</title>
    <style type="text/css">
        div#content
        {
            width: 800px;
            margin: auto;
            margin-top: 200px;
        }
        
        div#errorMessage
        {
            width: 778px;
            padding: 66px 0 46px 0;
            text-align: center;
            background: 20px #FFF no-repeat;
            border-left: 1px solid #cecece;
            border-top: 1px solid #cecece;
            border-right: 1px solid #cecece;
        }
        div#message.failed
        {
            width: 778px;
            padding: 66px 0 46px 0;
            text-align: center;
            background: 20px #FFF no-repeat;
            border-left: 1px solid #cecece;
            border-top: 1px solid #cecece;
            border-right: 1px solid #cecece;
        }
        div#message h1, div#message h1
        {
            font-size: 16px;
            color: #000000;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-weight: normal;
            font-family: "Times New Roman" , Times, serif;
            margin-bottom: 5px;
        }
        
        div#message p, div#message p
        {
            font-family: "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
            font-size: 11px;
            margin-bottom: 15px;
            color: #333333;
        }
        div#message a p:hover
        {
            text-decoration: underline;
            color: #333333;
        }
        div#messageBottom
        {
            background: url(/_img/order_bg.png) left bottom no-repeat;
            width: 780px;
            height: 20px;
            font-size: 0;
            line-height: 0;
        }
    </style>
</head>
<body style="background: #F3F3F3;">
    <div id="content">
        <div id="errorMessage">
            <div id="message" style="background: white">
                <h1>
                    @T("Common.Error.Header")</h1>
                <p>
                    @T("Common.Error.Message")
                </p>
            </div>
        </div>
        <div id="messageBottom">
        </div>
    </div>
</body>
</html>
