@*AF*@
@model Nop.Web.Models.Common.MessageModel

  <!-- content  -->
  <div id="content" class="clearfix">
    <div id="orderThankyou">
      <div id="orderCapsule" class="failed"  >
      @* div style style="background:@Url.Content("~/_img/error_password.png") center 20px #FFF no-repeat;"*@
      @foreach (var message in Model.MessageList)
      {
        <h1>@message</h1>
         
      }
        <p>@T("Register.TryAgain")</p>
        @*<p><img src="@Url.Content("~/_img/af.png")" alt="" /></p>*@
      </div>
      <div id="orderBottom"></div>
    </div>
  </div>
  <!-- content ends  -->

